[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.config/tmux/plugins/tmux-yank"]
	path = tmux/.config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.config/tmux/plugins/vim-tmux-navigator"]
	path = tmux/.config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
